body {
  background-color: orange;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #d0021b;
}

#app {
  background-color: orange;
}

.section label {
  color: white;
  font-size: xx-large;
  font-family: monospace;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.button {
  background-color: green;
  color: white;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

input, .button {
  border-radius: 5px;
  padding: 8px;
  margin-right: 15px;
}

.header {
  background-color: darkorange;
}

.header .title {
  font-size: x-large;
  color: white;
  font-family: monospace;
}
