ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: darkgrey;
}

.section {
  background-color: white;
}

.section label {
  color: white;
  font-size: 40px;
  font-family: monospace;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.button {
  background-color: green;
  color: white;
  font-family: monospace;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, .button {
  border-radius: 5px;
  padding: 8px;
  margin-right: 15px;
  font-size: 13px;
}

.header {
  background-color: darkorange;
}

.header .title {
  font-size: x-large;
  color: white;
  font-family: monospace;
}

.forecast h1, .detail h1 {
  text-align: center;
  color: darkgrey;
  font-family: monospace;
  font-size: xx-large
}

.forecast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.forecast-item {
  margin: 20px;
  text-align: center;
  font-family: monospace;
  color: darkgrey;
}

.forecast-item img, .detail img {
  width: 75%;
  height: 50%;
}

.forecast-item .weather {
  font-size: x-large;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.detail .date {
  font-size: large;
  color: darkgrey;
}

.detail .main {
  font-size: xx-large;
  color: darkgrey;
}

.extra-info li {
  margin: 10px 0px;
  color: darkgrey;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .section label {
      font-size: xx-large;
    }

    input, .button {
      font-size: 15px;
    }

    .header form {
      display: none;
    }

    .forecast-item {
      margin: 10px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {
    input, .button {
      font-size: 15px;
    }
}
