ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #d0021b;
}

.container {
  background-color: orange;
}

.section label {
  color: white;
  font-size: xx-large;
  font-family: monospace;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.button {
  background-color: green;
  color: white;
  font-family: monospace;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, .button {
  border-radius: 5px;
  padding: 8px;
  margin-right: 15px;
}

.header {
  background-color: darkorange;
}

.header .title {
  font-size: x-large;
  color: white;
  font-family: monospace;
}

.forecast h1 {
  text-align: center;
  color: darkgrey;
  font-family: monospace;
  font-size: -webkit-xxx-large
}

.forecast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.forecast-item {
  margin: 20px;
  text-align: center;
  font-family: monospace;
  color: darkgrey;
}

.forecast-item img {
  width: 100%;
  height: auto;
}

.forecast-item .weather {
  font-size: x-large;
}
